@page "/Greg"
@using GaianEmpire;

<h1>Convert Celestial to Gregorian</h1>
Due to .Net limitations dates before Capricorn 15, 10001 aren't supported

<EditForm Model="@con" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <select @bind="Day">
        @for (int i = 1; i <= 28; i++)
        {
            <option>@i</option>
        }
    </select>
    <select @bind="Month">
        @for (int i = 1; i <= 14; i++)
        {
            <option value="@i">@Months[i - 1]</option>
        }
    </select>
    <InputNumber @bind-Value="Year" />

    <button type="submit">Submit</button>
</EditForm>


<p>Gregorian Date: @date</p>

@code {
    private DateTime date = DateTime.Now;
    public int Day { get; set; }
    public int Month { get; set; }
    public int Year { get; set; }
    //public DateTime dt { get; set; }
    public string displaydate { get; set; }
    public StarDate sd { get; set; }
    //public DateTime dt { get; set; }
    private Converter con = new Converter();

    public string[] Months { get; set; } = {
       "Sagittarius", "Capricorn", "Aquarius", "Pisces", "Aries", "Taurus", "Gemini", "Karkino", "Leo", "Virgo", "Libra", "Scorpio", "Ophiuchus", "Chiron" };

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        sd = new StarDate(Year, Month, Day);
        date = sd.Convert();
    }
}
