@inherits CalendarBase
@using StarLib;
<h3>Calendar</h3>


<div class="datetimepicker">
    <InputNumber @bind-Value="@Year"></InputNumber>
    <select class="form-control" @bind="@Month">

        <option value=""></option>
        @foreach (var country in MonthList)
        {
            <option value="@country.Key"> @country.Value </option>
        }
        }
    </select>
    <select class="form-control" @bind="@Day">

        <option value=""></option>
        @foreach (var country in DayList)
        {
            <option value="@country"> @country </option>
        }
        }
    </select>
</div>


@code {
    //private ExampleModel exampleModel = new ExampleModel();

    //private void HandleValidSubmit()
    //{
    //    Console.WriteLine("OnValidSubmit");
    //}
}