@using StarLib;
<h3>Calendar</h3>

<EditForm Model="@date" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label>
            Common Year Months:
            <InputSelect @bind-Value="date.Month">
                <option value=1>@StarCulture.CurrentCulture.GetMonthList(1)</option>
                <option value=2>@StarCulture.CurrentCulture.GetMonthList(2)</option>
                <option value=3>@StarCulture.CurrentCulture.GetMonthList(3)</option>
                <option value=4>@StarCulture.CurrentCulture.GetMonthList(4)</option>
                <option value=5>@StarCulture.CurrentCulture.GetMonthList(5)</option>
                <option value=6>@StarCulture.CurrentCulture.GetMonthList(6)</option>
                <option value=7>@StarCulture.CurrentCulture.GetMonthList(7)</option>
                <option value=8>@StarCulture.CurrentCulture.GetMonthList(8)</option>
                <option value=9>@StarCulture.CurrentCulture.GetMonthList(9)</option>
                <option value=10>@StarCulture.CurrentCulture.GetMonthList(10)</option>
                <option value=11>@StarCulture.CurrentCulture.GetMonthList(11)</option>
                <option value=12>@StarCulture.CurrentCulture.GetMonthList(12)</option>
                <option value=13>@StarCulture.CurrentCulture.GetMonthList(13)</option>
                <option value=14>@StarCulture.CurrentCulture.GetMonthList(14)</option>
            </InputSelect>
        </label>
    </p>

    <button type="submit">Convert</button>
</EditForm>

@code {
    public StarDate date = StarDate.Now;

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
